a{
	color: #00f;
}
form{
	margin-bottom: 1em;
}
.field{
	margin-bottom: 0.5em;
}
label > span{
	display: block;
}
label > input + span{
	display: inline;
	vertical-align: middle;
}
footer{
	border-top: 1px solid;
	padding: 0.5em;
}
html{
	background: black;
	color: #0f0;
}
body > nav{
	background: black;
	border-bottom: 1px solid;
	padding: 0.5em;
	position: sticky;
	top: 0;
}
